<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('/assets/img/background.jpg');
          height: 150px;
          "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px; 
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);">
        <div class="card-body py-5 px-md-5">  
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">S'inscrire</h2>
                    <form [formGroup]="registerForm">
                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="name">Nom :</label>
                            <input formControlName="name" type="text" id="name" class="form-control" />
                        </div>
                        <!-- Username input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="username">Nom d'utilisateur :</label>
                            <input formControlName="username" type="text" id="username" class="form-control" />
                        </div>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="email">Email :</label>
                            <input formControlName="email" type="email" id="email" class="form-control" />
                        </div>

                         <!-- Adress input -->
                         <div class="form-outline mb-4">
                            <label class="form-label" for="adress">Addresse :</label>
                            <input formControlName="adress" type="text" id="adress" class="form-control" />
                        </div>
            
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="password">Mots de passe :</label>
                            <input formControlName="password" type="password" id="password" class="form-control" />
                        </div>
            
                        <!-- Confirm password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="confirmpassword">Confirmer le mots de passe :</label>
                            <input formControlName="confirmPassword" type="password" id="confirmPassword" class="form-control" />
                        </div>

                        <!-- Submit button -->
                        <button (click)="register()" [disabled]="registerForm.invalid" type="button" class="btn btn-primary btn-block mb-4">
                            Enregistrer
                        </button>
                    </form>
                </div>
                <span>Déjà un compte? <button type="button" class="btn btn-secondary" (click)="moveToLogin()">Se connecter</button></span>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->