<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/"><img src="" alt="Ekaly" class="img-fluid" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/">Accueil</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/restaurantliste">Restaurants</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/commandeliste">Commande</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/livraisonliste">Livraison</a>
                </li>
                <li class="nav-item dropdown" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Utilisateurs
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="/user/ekaly">Ekaly</a></li>
                        <li><a class="dropdown-item" routerLink="/user/restaurant">Restaurants</a></li>
                        <li><a class="dropdown-item" routerLink="/user/client">Clients</a></li>
                        <li><a class="dropdown-item" routerLink="/user/livreur">Livreurs</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex">
                <span class="btn btn-light ms-3"><a class="nav-link" routerLink="/user/login">Se connecter</a></span>
                <span class="btn btn-light ms-3"><a class="nav-link" routerLink="/user/register">S'inscrire</a></span>
            </div>
        </div>
    </div>
</nav>