<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('/assets/img/background.jpg');
        height: 200px;">
    </div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px; 
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);">
        <div class="card-body py-5 px-md-5">
  
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">Users</h2>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-11">                            
                            <table class="table table-bordered table-sm">
                                <thead class="thead-light">
                                    <th>Nom</th>
                                    <th>Nom d'utilisateur</th>
                                    <th>Rôle</th>
                                    <th></th>
                                </thead>
                                <tbody *ngFor="let user of users">
                                    <ng-template [ngIf] = "IsRoleIncludeInUser(user.role)">
                                        <td >{{ user.name }}</td>
                                        <td >{{ user.username }}</td>
                                        <td >{{ user.role }}</td>
                                        <td> 
                                            <a type="button" *ngIf="dspButtonToCurrentUser" (click)="openUpdateModal()" (click)="getById(user._id)" class="btn btn-outline-warning">Edit</a>
                                            <a type="button" [routerLink]="['/users/', result]"  name="btnDelete" id="btnUpdate" value="Supprimer" class="btn btn-outline-danger" (click)="delete(user._id)" >Supprimer</a>
                                        </td>
                                    </ng-template>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-1">
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="openRegisterModal()" >Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->

<!-- Debu: Modal pour la création d'utilisateur -->
<div class="modal" tabindex="-1" id="registermodal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Créer un compte {{ result }}.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeRegisterModal()"></button>
        </div>
        <form [formGroup]="registerForm">

             <!-- Name input -->
             <div class="modal-body">
                <label class="form-label" for="name">Nom :</label>
                <input formControlName="name" type="text" id="name" class="form-control" />
            </div>
            <!-- Username input -->
            <div class="modal-body">
                <label class="form-label" for="username">Nom d'utilisateur :</label>
                <input formControlName="username" type="text" id="username" class="form-control" />
            </div>
            <!-- Email input -->
            <div class="modal-body">
                <label class="form-label" for="email">Email :</label>
                <input formControlName="email" type="email" id="email" class="form-control" />
            </div>

             <!-- Adress input -->
             <div class="modal-body">
                <label class="form-label" for="adress">Addresse :</label>
                <input formControlName="adress" type="text" id="adress" class="form-control" />
            </div>

            <!-- Password input -->
            <div class="modal-body">
                <label class="form-label" for="password">Mots de passe :</label>
                <input formControlName="password" type="password" id="password" class="form-control" />
            </div>

            <!-- Confirm password input -->
            <div class="modal-body">
                <label class="form-label" for="confirmpassword">Confirmer le mots de passe :</label>
                <input formControlName="confirmPassword" type="password" id="confirmPassword" class="form-control" />
            </div>

            <!-- Submit button /or cancel -->
            <div class="modal-footer">            
                <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="registerForm.invalid" (click)="register()">Enregistrer </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeRegisterModal()" >Annuler</button>
            </div>
        </form>
      </div>
    </div>
</div>
<!-- Fin: Modal pour la création d'utilisateur-->

<!-- Debu: Modal pour la mise à jour d'utilisateur-->
<div class="modal" tabindex="-1" id="updatemodal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Mise à jour d'un compte.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeUpdateModal()"></button>
        </div>
        <form [formGroup]="updateForm">

             <!-- Name input -->
             <div class="modal-body">
                <label class="form-label" for="name">Nom :</label>
                <input formControlName="name" type="text" id="name" class="form-control" />
            </div>
            <!-- Username input -->
            <div class="modal-body">
                <label class="form-label" for="username">Nom d'utilisateur :</label>
                <input formControlName="username" type="text" id="username" class="form-control" required/>
            </div>
            <!-- Email input -->
            <div class="modal-body">
                <label class="form-label" for="email">Email :</label>
                <input formControlName="email" type="email" id="email" class="form-control" />
            </div>

             <!-- Adress input -->
             <div class="modal-body">
                <label class="form-label" for="adress">Addresse :</label>
                <input formControlName="adress" type="text" id="adress" class="form-control" />
            </div>

            <!-- Password input -->
            <div class="modal-body">
                <label class="form-label" for="password">Mots de passe :</label>
                <input formControlName="password" type="password" id="password" class="form-control" />
            </div>

            <!-- Confirm password input -->
            <div class="modal-body">
                <label class="form-label" for="confirmpassword">Confirmer le mots de passe :</label>
                <input formControlName="confirmPassword" type="password" id="confirmPassword" class="form-control" />
            </div>

            <!-- Submit button /or cancel -->
            <div class="modal-footer">            
                <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="updateForm.invalid" (click)="update()">OK </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeUpdateModal()" >Annuler</button>
            </div>
        </form>
      </div>
    </div>
</div>
<!-- Fin: Modal pour la mise à jour d'utilisateur-->