<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('/assets/img/background.jpg');
        height: 200px;">
    </div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px; 
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);">
        <div class="card-body py-5 px-md-5">
  
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">Users</h2>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <th>Nom</th>
                                    <th>Nom d'utilisateur</th>
                                    <th>Rôle</th>
                                </thead>
                                <tbody *ngFor="let user of users">
                                    <td >{{ user.username }}</td>
                                    <td >{{ user.name }}</td>
                                    <td >{{ user.role }}</td>
                                    <td> 
                                        <a href="#" [routerLink]="['/userliste/', user.idPrivilege, 'edit']" class="btn btn-outline-warning">Edit</a>
                                        <input type="button" name="btnDelete" id="btnUpdate" value="Supprimer" class="btn btn-outline-danger">
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->

<!-- Debu: Modal pour la mise à jour des users-->

<!-- Fin: Modal pour la mise à jour des users-->
