<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/"><img src="" alt="E-kaly" class="img-fluid" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/">Accueil</a>
                </li>
                <li *ngIf="displayDashboardRestaurant && isLoggedIn()" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/restaurant/dashboard">Tableau de bord Restaurant</a>
                </li>
                <li *ngIf="displayDashboardClient && isLoggedIn()" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/client/dashboard">Tableau de bord Client</a>
                </li>
                <li *ngIf="displayDashboardDeliverer && isLoggedIn()" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/deliverer/dashboard">Tableau de bord Livreur</a>
                </li>
                <li *ngIf="displayPlat && isLoggedIn()" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/platliste">Plats</a>
                </li>
                <li *ngIf="displayRestaurant && isLoggedIn()" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/restaurantliste">Restaurants</a>
                </li>
                <li *ngIf="displayCommande && isLoggedIn()" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/commandeliste">Commande</a>
                </li>
                <li *ngIf="displayLivraison && isLoggedIn()"class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/livraisonliste">Livraison</a>
                </li>
                <!-- <li class="nav-item dropdown" routerLinkActive="active">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Utilisateurs
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="/user/ekaly">Ekaly</a></li>
                        <li><a class="dropdown-item" routerLink="/user/restaurant">Restaurants</a></li>
                        <li><a class="dropdown-item" routerLink="/user/client">Clients</a></li>
                        <li><a class="dropdown-item" routerLink="/user/livreur">Livreurs</a></li>
                    </ul>
                </li> -->
                <li *ngIf="displayUser && isLoggedIn()" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/privilegeliste">Privilèges</a>
                </li>
                <li *ngIf="displayUser && isLoggedIn()" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/users">Utilisateurs</a>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-light ms-3 nav-link" *ngIf="!isLoggedIn()" (click)="openLoginModal()"><span class="nav-link" >Se connecter</span></button>
                <button class="btn btn-light ms-3 nav-link" *ngIf="!isLoggedIn()" (click)="openRegisterModal()"><span class="nav-link" >S'inscrire</span></button>
                <h5 *ngIf="isLoggedIn()"> <p></p> Bonjour <strong>{{nameUser()}}</strong></h5>
                <span class="btn btn-light ms-3" (click)="logout()" *ngIf="isLoggedIn()"><a class="nav-link" routerLink="/user/logout">Se deconnecter</a></span>
            </div>
        </div>
    </div>
</nav>

<!-- Modal pour les differents liens de connection. -->
<div class="modal" tabindex="-1" id="linksloginmodal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Se connecter en tant que: </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <a class="nav-link" routerLink="/user/login" (click)="hideLoginModal()"> Client</a>
        </div>
        <div class="modal-body">
            <a class="nav-link" routerLink="/user/loginrestaurant" (click)="hideLoginModal()">Restaurant</a>
        </div>
        <div class="modal-body">
            <a class="nav-link" routerLink="/user/logindeliverer" (click)="hideLoginModal()">Livreur</a>
        </div>
        <div class="modal-body">
            <a class="nav-link" routerLink="/user/loginekaly" (click)="hideLoginModal()">Responsable de Ekaly </a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeLoginModal()">Annuler</button>
        </div>
      </div>
    </div>
  </div>
  
  
<!-- Modal pour les differents liens de s'inscription. -->
<div class="modal" tabindex="-1" id="linksregistermodal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">S'inscrire en tant que: </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <a class="nav-link" routerLink="/user/register" (click)="hideRegisterModal()"> Client</a>
        </div>
        <div class="modal-body">
            <a class="nav-link" routerLink="/user/registerrestaurant" (click)="hideRegisterModal()">Restaurant</a>
        </div>
        <div class="modal-body">
            <a class="nav-link" routerLink="/user/registerdeliverer" (click)="hideRegisterModal()">Livreur</a>
        </div>
        <div class="modal-body">
            <a class="nav-link" routerLink="/user/registerekaly" (click)="hideRegisterModal()">Responsable de Ekaly </a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeRegisterModal()">Annuler</button>
        </div>
      </div>
    </div>
  </div>