<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('/assets/img/background.jpg');
        height: 200px;">
    </div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px; 
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);">
        <div class="card-body py-5 px-md-5">
  
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <h2 class="fw-bold mb-5">Livraisons</h2>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12">
                            <table class="table table-bordered table-sm">
                                <thead class="thead-light">
                                    <th>Plat</th>
                                    <th>Nombre</th>
                                    <th>Date de livraison</th>
                                    <th>Client</th>
                                    <th>Etat de livraison</th>
                                    <th></th>
                                </thead>
                                <tbody *ngFor="let livraison of livraisons">
                                    <ng-template [ngIf]="isEqualsIdDeliverer(livraison.idDeliverer, livraison.status)" >
                                        <td >{{ livraison.plat }}</td>
                                        <td >{{ livraison.number }}</td>
                                        <td >{{ livraison.dateLivraison }}</td>
                                        <td >{{ livraison.client }}</td>
                                        <td >{{ changeStatusInFrench(livraison.status) }}</td>
                                        <td>
                                            <input (click)="delete(livraison._id, livraison.idLivraison)" type="button" name="btnDelete" id="btnDelete" value="Supprimer" class="btn btn-outline-danger">
                                        </td>
                                    </ng-template>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->