<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('/assets/img/background.jpg');
        height: 200px;">
    </div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px; 
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);">
        <div class="card-body py-5 px-md-5">
  
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div style="margin-bottom: 3rem">
                        <h2 class="fw-bold">{{title}}</h2>
                        <p *ngIf="!loggedIn()">({{information}})</p>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12">
                            <table class="table table-bordered table-sm">
                                <thead>
                                    <th>Name</th>
                                    <th>Nombres disponibles</th>
                                    <th *ngIf="displayCommande">Action</th>
                                </thead>
                                <tbody *ngFor="let plat of plats">
                                    <td >{{ plat.name }}</td>
                                    <td >{{ plat.number }}</td>
                                    <td *ngIf="displayCommande"> 
                                        <a class="btn btn-outline-warning" (click)="openCommandeModal()">Commander</a>                                        
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->

<!-- Debu: Modal pour la commande des plats-->

<div class="modal" tabindex="-1" id="commandemodal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Commander de plat.</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="commandeForm">
            <div class="modal-body">
                <label for="namePlat">Nom du plat</label>
                <select formControlName="namePlat" *ngFor="let plat of plats" type="text" name="namePlat">
                    <option value="{{ plat.name }}">{{ plat.name }}</option>
                </select>
            </div>
            <div class="modal-body">
                <label for="nombre">Nombre à livrer</label>
                <input formControlName="nombre" min="1" type="number" name="nombre">
            </div>
            <div class="modal-body">
                <label for="dateLivraison">Date de livraison</label>
                <input formControlName="dateLivraison" type="datetime-local" name="dateLivraison">
            </div>
            <div class="modal-footer">            
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" [disabled]="commandeForm.invalid" (click)="commander()" >Enregistrer</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeCommandeModal()" >Annuler</button>
            </div>
        </form>
      </div>
    </div>
</div>
  

<!-- Fin: Modal pour la commande des plats-->
