<h1><span>{{ title }} app est lancé!</span></h1>
<button type="button" class="btn btn-primary">TEST0</button>
<button type="button" class="btn btn-success">TEST1</button>
<button type="button" class="btn btn-danger">TEST2</button>
<button type="button" class="btn btn-outline-warning">TEST3</button>
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <nav class="navbar">
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li>
                            <a href="#">Accueil</a>
                        </li>
                        <li>
                            <a href="platliste">Liste de palts</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<router-outlet></router-outlet>